*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}
.main-top::-webkit-scrollbar{
  width: 15px;
  position: fixed;
}

.main-top::-webkit-scrollbar-track{
  background-color: #FAFAFA;
  width: 15px;
}

.main-top::-webkit-scrollbar-thumb{
  background-color:#C8C8C8;
  border-radius: 10px;
  border: 3px solid #FAFAFA;
}

.debug{
  background-color: rgba(137, 43, 226, 0.267);
  border: 1px solid black;
  min-height: 50px;
}

.d-flex{
  display: flex;
}

/* .active-bottom{

} */

/* .active-left{

} */

.main-wrapper{
  height: 100vh;
}

*.h-w:hover{
  color: white;
} 

/***************MAIN**************/
/* MAIN TOP */
main{
  height: calc(100vh - 80px);
}

.menu-center{
  text-align: center;
}

.main-top{
  position: relative;
}

.main-top a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
}

.header-transparent{
  flex-direction: row-reverse;
  align-items: center;
  height: 90px;
  width: calc(100% - 230px);
  position: fixed;
  order: 100;
}

.header-transparent a{
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  padding: 12px 40px;
  margin-right: 15px;
}


/* SECTIONS */
section{
  padding: 20px 0;
}

h2{
  font-weight: 800;
  padding-bottom: 5px;
}

h3{
  font-size: 17px;
  font-weight: 800;
  padding: 10px 0 5px 0;
}

section span{
  font-size: 14px;
  font-weight: 700;
}

.container{
  padding: 15px;
  margin-top: 90px;
}

.main-top {
  height: 100%;
  width: calc(100% - 230px);
  overflow: auto;
}
.row{
  gap: 15px;
}

.col{
  width: calc(100% / 6);
  padding-top: 25px;
}

.card{
  text-align: center;
}

.card img{
  width: 100%;
}

/***************ASIDE**************/

main aside{
  width: 230px;
  height: 100%;
}

.aside-bottom{
  height: 80px;
}

.aside-top{
  height: calc(100% - 80px);
}


/***************FOOTER**************/
footer{
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

footer .brano,footer .audio{
  width: 230px;
}


